<%= form_for(@task, :url => params[:project_id] ? user_project_task_path(@user.displayname, params[:project_id], @task) : user_task_path(@user.displayname, @task), :method => :post) do |f| %>
<div class="form-shell">
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="item-list-table">
    <tr class="item-list-line-item data-row">
      <th>PRIORITY</th>
      <th>ACTIVE</th>
      <th>COMPLETE</th>
      <% if params[:project_id] %>
      <% else %>
      <th>PROJECT</th>
      <% end %>
      <th>DESCRIPTION</th>
      <th>DUE</th>
      <th>CONTACT</th>
      <th>SAVE</th>
    </tr>
    <tr class="spacer-row">
        <th></th>
        <th></th>
        <% if params[:project_id] %>
        <% else %>
        <th></th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  <tr class="field">
    <td><%= f.check_box :priority %></td>
    <td><%= f.check_box :active %></td>
    <td><%= f.check_box :complete %></td>
    <td>    <% if params[:project_id] %>  
    <%= f.label @project_title %>
    <%= f.hidden_field :project_id, :value => params[:project_id] %>
    <% else %>
    <%#= collection_select(:task, :project_id, @projects, :id, :title, {:prompt => true}) %>
    <%= select("task", "project_id", @projects.collect {|p| [ p.title, p.id ] }, {:include_blank => false})%>
    <% end %></td>
    <td><%= f.text_field :description %></td>
    <td><%= f.datetime_select :due_date %></td>
    <td><%= f.text_field :contact %></td>

    <td class="actions"><%= f.submit "Save Task" %></td>
  </tr>
</table>
</div>
<% end %>
