<%= form_for(@task, :url => user_task_path(@user.displayname, @task)) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :priority %><br />
    <%= f.check_box :priority %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :complete %><br />
    <%= f.check_box :complete %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.datetime_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <% if params[:project_id] %>  
    <%= f.label @project_title %>
    <%= f.hidden_field :project_id, :value => params[:project_id] %>
    <% else %>
    <%= collection_select(:task, :project_id, @projects, :id, :title, {:prompt => true}) %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Save Task" %>
  </div>
<% end %>
