<%= form_for(@task, :url => params[:project_id] ? user_project_tasks_path(@user.displayname, params[:project_id]) : user_tasks_path(@user.displayname), :method => :post) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <tr class="spacer-row">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  <tr class="field data-row item-list-line-item">
    <td class="center-text"><%= f.check_box :priority %></td>
    <td class="center-text"><%= f.check_box :complete %></td>
      <% if @project_show %>  
        <%= f.hidden_field :project_id, :value => @project_for_new %>
        <% else %>
        <td class="center-text">
          <%= select("task", "project_id", @projects.collect {|p| [ p.title, p.id ] }, {:include_blank => false}, :class => "my-class")%>
        </td>
      <% end %>
    <td><%= f.text_field :description %></td>
    <td><%= f.text_field :contact %></td>
    <td class="center-text"><%= f.check_box :active, :checked => true%></td>
    <td class="actions center-text" colspan="2"><%= f.submit "Save Task" %></td>
  </tr>
<% end %>
