<div class="item-list-container">
  <table class="item-list-table">
    <tr class="item-list-line-item data-row">
      <th><%=image_tag('/assets/star.png')%></th>
      <th>ACTIVE</th>
      <th><%=image_tag('/assets/checkfill.png')%></th>
      <% if @project_show %>
      <% else %>
      <th>PROJECT</th>
      <% end %>
      <th>DESCRIPTION</th>
      <th>CONTACT</th>
      <th><%=image_tag('/assets/edit.png')%></th>
      <th><%=image_tag('/assets/trash.png')%></th>
    </tr>
    <tr class="spacer-row">
        <th></th>
        <th></th>
        <% if @project_show %>
        <% else %>
        <th></th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
<% @tasks.each do |task| %>
    <tr class="spacer-row">
      <th></th>
      <th></th>
      <th></th>
      <% if @project_show %>
      <% else %>
      <th></th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr class="item-list-line-item data-row">
      <td><div class="task-row center-text"><%= task.priority %></div></td>
      <td><div class="task-row center-text"><%= task.active %></div></td>
      <td><div class="task-row center-text"><%= task.complete %></div></td>
      <% if @project_show %>
      <% else %>
        <td><div class="task-row center-text"><%= link_to @user.projects.find(task.project_id).title, user_project_path(@user.displayname, @user.projects.find(task.project_id)) %></div></td>
      <% end %>
      <td><div class="task-row"><%= best_in_place [@user, task], :description, :path => user_task_path %></div></td>
      <td><div class="task-row center-text"><%= task.contact %></div></td>
      <td><div class="task-row center-text"><%= link_to image_tag('/assets/edit.png'), edit_user_task_path(@user.displayname, task) %></div></td>
      <td><div class="task-row center-text"><%= link_to image_tag('/assets/trash.png'), user_task_path(@user.displayname, task), method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
    </tr>
<% end %>
</table>
</div>
