
<div class="item-list-container tasks-container">
  <ul class="filter-nav">
    <li>Filter:</li>
    <li>
      <%= search_form_for(@searchtask, :url => @project_show ? user_project_tasks_path(@user.displayname, @project.id) : user_tasks_path(@user.displayname), :html => {:class => "inline-form", :id => "task-search-open", :remote => true}) do |f| %>
        <%= f.hidden_field :complete_eq, :value => false %>
        <%= f.hidden_field :active_eq, :value => true %>
        <%= f.submit "Open"%>
      <% end %>
    </li>
    <li>   
      <%= search_form_for(@searchtask, :url => @project_show ? user_project_tasks_path(@user.displayname, @project.id) : user_tasks_path(@user.displayname), :html => {:class => "inline-form", :id => "task-search-inactive", :remote => true}) do |f| %>
        <%= f.hidden_field :active_eq, :value => false %>
        <%= f.submit "Inactive"%>
      <% end %>
    </li>
    <li>   
      <%= search_form_for(@searchtask, :url => @project_show ? user_project_tasks_path(@user.displayname, @project.id) : user_tasks_path(@user.displayname), :html => {:class => "inline-form", :id => "task-search-closed", :remote => true}) do |f| %>
        <%= f.hidden_field :complete_eq, :value => true %>
        <%= f.submit "Closed"%>
      <% end %>
    </li>
  </ul>
  <table class="item-list-table">
    <div id="task-index">
      <tr class="item-list-line-item data-row">
        <th><%= sort_link(@searchtask, :priority, image_tag('/assets/star.png'), {},  { :remote => true}) %></th>
        <th><%= sort_link(@searchtask, :complete, image_tag('/assets/checkfill.png'), {},  { :remote => true})%></th>
        <% if @project_show %>
        <% else %>
          <th><%= sort_link(@searchtask, :project_id, "PROJECT", {},  { :remote => true})%></th>
        <% end %>
        <th><%= sort_link(@searchtask, :description, "DESCRIPTION", {},  { :remote => true}) %></th>
        <th><%= link_to "CONTACT", :sort => "contact" %></th>
        <th><%= sort_link(@searchtask, :active, image_tag('/assets/inactive.png'), {},  { :remote => true})%></th>
        <th><%=image_tag('/assets/edit.png')%></th>
        <th><%=image_tag('/assets/trash.png')%></th>
      </tr>
      <tr class="spacer-row">
        <th></th>
        <th></th>
        <% if @project_show %>
        <% else %>
        <th></th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @tasks.each do |task| %>
        <tr class="spacer-row">
          <th></th>
          <th></th>
          <% if @project_show %>
          <% else %>
          <th></th>
          <% end %>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="item-list-line-item data-row">
          <td>
            <div class="task-row center-text">
              <%= best_in_place [@user, task], :priority, :type => :checkbox, :collection => [image_tag('/assets/empty.png'), image_tag('/assets/star.png')] %>
            </div>
          </td>
          <td><div class="task-row center-text"><%= best_in_place [@user, task], :complete, :type => :checkbox, :collection => [image_tag('/assets/checkempty.png'), image_tag('/assets/checkfill.png')] %></div></td>
          <% if @project_show %>
          <% else %>
            <td><div class="task-row center-text"><%= link_to @user.projects.find(task.project_id).title, user_project_path(@user.displayname, @user.projects.find(task.project_id)) %></div></td>
          <% end %>
          <td><div class="task-row"><%= best_in_place [@user, task], :description, :inner_class => "form-place" %></div></td>
          <td><div class="task-row center-text"><%= best_in_place [@user, task], :contact, :inner_class => "form-place" %></div></td>
          <td><div class="task-row center-text"><%= best_in_place [@user, task], :active, :type => :checkbox, :collection => [image_tag('/assets/inactive.png'), image_tag('/assets/empty.png')] %></div></td>
          <td><div class="task-row center-text"><%= link_to image_tag('/assets/edit.png'), edit_user_task_path(@user.displayname, task) %></div></td>
          <td><div class="task-row center-text"><%= link_to image_tag('/assets/trash.png'), user_task_path(@user.displayname, task), method: :delete, :remote => true, :class => 'delete_object',  data: { confirm: 'Are you sure?' } %></div></td>
        </tr>
      <% end %>
    </div>
   <%= render 'tasks/form' %> 
  </table>
</div>
