<div class="item-list-container">
  <table class="item-list-table">
    <tr class="item-list-line-item data-row">
      <th>PRIORITY</th>
      <th>ACTIVE</th>
      <th>COMPLETE</th>
      <% if params[:project_id] %>
      <% else %>
      <th>PROJECT</th>
      <% end %>
      <th>DESCRIPTION</th>
      <th>DUE</th>
      <th>CONTACT</th>
      <th>EDIT</th>
      <th>DESTROY</th>
    </tr>
    <tr class="spacer-row">
        <th></th>
        <th></th>
        <% if params[:project_id] %>
        <% else %>
        <th></th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
<% @tasks.each do |task| %>
    <tr class="spacer-row">
      <th></th>
      <th></th>
      <th></th>
      <% if params[:project_id] %>
      <% else %>
      <th></th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr class="item-list-line-item data-row">
      <td><%= task.priority %></td>
      <td><%= task.active %></td>
      <td><%= task.complete %></td>
      <% if params[:project_id] %>
      <% else %>
      <td><%= @user.projects.find(task.project_id).title %></td>
      <% end %>
      <td><%= link_to task.description, user_task_path(@user.displayname, task) %></td>
      <td><%= task.due_date.to_date %></td>
      <td><%= task.contact %></td>
      <td><%= link_to 'Edit', edit_user_task_path(@user.displayname, task) %></td>
      <td><%= link_to 'Destroy', user_task_path(@user.displayname, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
</table>
</div>
