<p id="notice"><%= notice %></p>

<p>
  <b>PRIORITY</b>
  <%= @task.priority %>
</p>

<p>
  <b>ACTIVE</b>
  <%= @task.active %>
</p>

<p>
  <b>COMPLETE</b>
  <%= @task.complete %>
</p>

<p>
  <b>DESCRIPTION</b>
  <%= @task.description %>
</p>

<p>
  <b>DUE</b>
  <%= @task.due_date %>
</p>

<p>
  <b>CONTACT</b>
  <%= @task.contact %>
</p>


<%= link_to 'Edit', edit_user_task_path(params[:user_id],@task) %> |
<%= link_to 'Back', user_tasks_path(params[:user_id]) %>
