<p id="notice"><%= notice %></p>

<h1><%= best_in_place @user, :name %></h1>

<br />
<div class="content-title">
	<h2><%=link_to 'RECENT PROJECTS', user_projects_path(@user.displayname)%></h2><%=link_to 'NEW', new_user_project_path(@user.displayname)%>
</div>
<%= render 'projects/index' %>

<div class="content-title">
	<h2><%=link_to 'OLDEST TASKS', user_tasks_path(@user.displayname)%></h2>
	<%=link_to 'NEW', new_user_task_path(@user.displayname)%>
</div>
<%#= render 'tasks/index' %>

<div class="content-title">
	<h2><%=link_to 'RECENT JOURNALS', user_journals_path(@user.displayname)%></h2>
	<%=link_to 'NEW', new_user_journal_path(@user.displayname)%>
</div>
<%= render 'journals/index' %>
</div>