<div class="item-list-container">
  <table class="item-list-table">
    <tr class="item-list-line-item data-row">
    <th>TITLE</th>
    <th>DESCRIPTION</th>
    <th>DATE ADDED</th>
    <th>PARENT</th>
    <th>DUE DATE</th>
<<<<<<< HEAD
    <th><%=image_tag('/assets/edit.png')%></th>
    <th><%=image_tag('/assets/trash.png')%></th>
=======
    <th><%= image_tag('/assets/edit.png') %></th>
    <th><%= image_tag('/assets/trash.png') %></th>
>>>>>>> origin/Full-function-no-AJAX-tollgate
  </tr>
    <tr class="spacer-row">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

<% @projects.each do |project| %>
    <tr class="spacer-row">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr class="item-list-line-item data-row">
<<<<<<< HEAD
=======
<<<<<<< HEAD
        <td><%= link_to project.title, user_project_path(@user.displayname, project) %></td>
        <td><%= project.description %></td>
        <td><%= project.time.to_date %></td>
        <td><%= project.parent %></td>
        <td><%= project.due_date %></td>
      <td><div class="task-row center-text"><%= link_to image_tag('/assets/edit.png'), edit_user_project_path(@user.displayname, project) %></div></td>
      <td><div class="task-row center-text"><%= link_to image_tag('/assets/trash.png'), user_project_path(@user.displayname, project), method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
=======
>>>>>>> ff0e199479193a3a03d0d3da3468af990b62fdff
        <td><div class="task-row"><%= link_to project.title, user_project_path(@user.displayname, project) %></div></td>
        <td><div class="task-row"><%= project.description %></div></td>
        <td><div class="task-row"><%= project.time.to_date %></div></td>
        <td><div class="task-row"><%= project.parent %></div></td>
        <td><div class="task-row"><%= project.due_date %></div></td>
        <td><div class="task-row"><%= link_to image_tag('/assets/edit.png'), edit_user_project_path(@user.displayname, project) %></div></td>
        <td><div class="task-row"><%= link_to image_tag('/assets/trash.png'), user_project_path(@user.displayname, project), method: :delete, :remote => true, :class => 'delete_object', data: { confirm: 'Are you sure?' } %></div></td>
<<<<<<< HEAD
=======
>>>>>>> origin/Full-function-no-AJAX-tollgate
>>>>>>> ff0e199479193a3a03d0d3da3468af990b62fdff
      </tr>
<% end %>
</table>
</div>