<h1>PROJECTS</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Date Added</th>
    <th>Parent</th>
    <th>Due date</th>
    <th>Budget</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.title, user_project_path(params[:user_id], project) %></td>
    <td><%= project.description %></td>
    <td><%= project.time.to_date %></td>
    <td><%= project.parent %></td>
    <td><%= project.due_date %></td>
    <td><%= project.budget %></td>
    <td><%= link_to 'Edit', edit_user_project_path(params[:user_id], project) %></td>
    <td><%= link_to 'Destroy', user_project_path(params[:user_id], project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_user_project_path(@user.displayname) %>
