<div class="content-title">
    <h1><%= @project.title.upcase %></h1>
    <%= link_to 'EDIT', edit_user_project_path(@user.displayname, @project), :class => "grey-on-blue-link" %>
    <div class="right-align">

    </div>
</div>


<div class="content-left">
  <div class="content-title">
    <h2><%=link_to 'TASKS', user_tasks_path(@user.displayname)%></h2>
    <%#=link_to 'NEW', new_user_task_path(@user.displayname)%>
  </div>
   <%= render 'tasks/index' %>
  <div class="content-title">
    <h2><%=link_to 'JOURNALS', user_journals_path(@user.displayname)%></h2>
    <%=link_to 'NEW', new_user_journal_path(@user.displayname)%>
  </div>
  <%= render 'journals/index' %>

</div>

<div class="content-right">
  <div class="content-title">
    <h2>PROJECT INFO:</h2>
  </div>
  <div class="item-list-container">
    <p id="notice"><%= notice %></p>
    <p>
      <b>DESCRIPTION:</b>
      <%= @project.description %>
    </p>
    <p>
      <b>PARENT:</b>
      <%= @project.parent %>
    </p>
    <p>
      <b>DATE ADDED:</b>
      <%= @project.time.to_date %>
    </p>
    <p>
      <b>DUE DATE:</b>
      <%= @project.due_date %>
    </p>
    <p>
      <b>BUDGET:</b>
      <%= @project.budget %>
    </p>
  </div>
  <h2>COMMON KNOWLEDGE:</h2>
  <div class="item-list-container" id="common-knowledge-container">
    <p>
      <%= raw @project.common_knowledge %>
    </p>
  </div>

</div>