<h1>Project Page</h1>
<h2>Project Info</h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Time:</b>
  <%= @project.time %>
</p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Common knowledge:</b>
  <%= @project.common_knowledge %>
</p>

<p>
  <b>Parent:</b>
  <%= @project.parent %>
</p>

<p>
  <b>Due date:</b>
  <%= @project.due_date %>
</p>

<p>
  <b>Budget:</b>
  <%= @project.budget %>
</p>

<h2>Project Tasks:</h2>
<table>
  <tr>
    <th>Priority</th>
    <th>Active</th>
    <th>Complete</th>
    <th>Description</th>
    <th>Due date</th>
    <th>Contact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.priority %></td>
    <td><%= task.active %></td>
    <td><%= task.complete %></td>
    <td><%= task.description %></td>
    <td><%= task.due_date %></td>
    <td><%= task.contact %></td>
    <td><%= link_to 'Show', user_task_path(params[:user_id], task) %></td>
    <td><%= link_to 'Edit', edit_user_task_path(params[:user_id], task) %></td>
    <td><%= link_to 'Destroy', user_task_path(params[:user_id], task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Add New Task', new_user_project_task_path(@user.displayname, @project) %> |

<%= link_to 'Edit', edit_user_project_path(@user.displayname, @project) %> |
<%= link_to 'Back', user_projects_path(@user.displayname) %>
