<h1>  <%= @project.title.upcase %></h1>
<p>
  <b>DATE ADDED:</b>
  <%= @project.time.to_date %>
</p>

<p>
  <b>DESCRIPTION:</b>
  <%= @project.description %>
</p>
<div class="content-left">
  <div class="content-title">
    <h2>TASKS:</h2>
  </div>
   <%= render 'tasks/index' %>
  <div class="content-title">
    <h2>JOURNALS:</h2>
  </div>
  <%= render 'journals/index' %>


<%= link_to 'New Journal', new_user_journal_path(@user.displayname) %> |
<%= link_to 'Add New Task', new_user_project_task_path(@user.displayname, @project) %> |

<%= link_to 'Edit', edit_user_project_path(@user.displayname, @project) %> |
<%= link_to 'Back', user_projects_path(@user.displayname) %>
</div>

<div class="content-right">
<h2>PROJECT INFO:</h2>
<div class="item-list-container">
  <p id="notice"><%= notice %></p>
  <p>
    <b>Parent:</b>
    <%= @project.parent %>
  </p>
  <p>
    <b>Due date:</b>
    <%= @project.due_date %>
  </p>
  <p>
    <b>Budget:</b>
    <%= @project.budget %>
  </p>
</div>
<h2>COMMON KNOWLEDGE:</h2>
<div class="item-list-container">
  <p>
    <%= @project.common_knowledge %>
  </p>
</div>
</div>