<h1>  <%= @project.title.upcase %></h1>
<p>
  <b>DATE ADDED:</b>
  <%= @project.time.to_date %>
</p>

<p>
  <b>DESCRIPTION:</b>
  <%= @project.description %>
</p>
<div class="content-left">
<div class="content-title">
  <h2>TASKS:</h2>
</div>
<div class="item-list-container">
  <table class="item-list-table">
    <tr class="item-list-line-item data-row">
      <th>Priority</th>
      <th>Active</th>
      <th>Complete</th>
      <th>Description</th>
      <th>Due date</th>
      <th>Contact</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
      <tr class="spacer-row">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
  

<% @tasks.each do |task| %>
    <tr class="spacer-row">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr class="item-list-line-item data-row">
      <td><%= task.priority %></td>
      <td><%= task.active %></td>
      <td><%= task.complete %></td>
      <td><%= task.description %></td>
      <td><%= task.due_date %></td>
      <td><%= task.contact %></td>
      <td><%= link_to 'Show', user_task_path(params[:user_id], task) %></td>
      <td><%= link_to 'Edit', edit_user_task_path(params[:user_id], task) %></td>
      <td><%= link_to 'Destroy', user_task_path(params[:user_id], task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
</table>
</div>


  <h2>JOURNALS:</h2>

<div class="item-list-container">
  <table class="item-list-table">
      <tr class="item-list-line-item data-row">
        <th>Meeting</th>
        <th>Title</th>
        <th>Body</th>
        <th>Date</th>
        <th>Begin time</th>
        <th>End time</th>
        <th>Attendees</th>
        <th></th>
        <th></th>
      </tr>
        <tr class="spacer-row">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
    <% @journals.each do |journal| %>
        <tr class="spacer-row">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="item-list-line-item data-row">
          <td><%= journal.meeting %></td>
          <td><%= link_to journal.title, user_journal_path(@user.displayname, journal) %></td>
          <td><%= journal.body %></td>
          <td><%= journal.event_date %></td>
          <td><%= journal.begin_time.to_time %></td>
          <td><%= journal.end_time.to_time %></td>
          <td><%= journal.attendees %></td>
          <td><%= link_to 'Edit', edit_user_journal_path(@user.displayname, journal) %></td>
          <td><%= link_to 'Destroy', user_journal_path(@user.displayname, journal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
  <% end %>
  </table>
</div>


<%= link_to 'New Journal', new_user_journal_path(@user.displayname) %> |
<%= link_to 'Add New Task', new_user_project_task_path(@user.displayname, @project) %> |

<%= link_to 'Edit', edit_user_project_path(@user.displayname, @project) %> |
<%= link_to 'Back', user_projects_path(@user.displayname) %>
</div>

<div class="content-right">
<h2>PROJECT INFO:</h2>
<div class="item-list-container">
  <p id="notice"><%= notice %></p>
  <p>
    <b>Parent:</b>
    <%= @project.parent %>
  </p>
  <p>
    <b>Due date:</b>
    <%= @project.due_date %>
  </p>
  <p>
    <b>Budget:</b>
    <%= @project.budget %>
  </p>
</div>
<h2>COMMON KNOWLEDGE:</h2>
<div class="item-list-container">
  <p>
    <%= @project.common_knowledge %>
  </p>
</div>