<div class='page-title-shell'>
  <h1><%= @project.title.upcase %></h1>
  <div class="clear-shell">
    <%= link_to 'EDIT', edit_user_project_path(@user.displayname, @project), :class => "grey-on-blue-link" %>
  </div>
</div>
<p>
  <b>DATE ADDED:</b>
  <%= @project.time.to_date %>
</p>

<p>
  <b>DESCRIPTION:</b>
  <%= @project.description %>
</p>
<div class="content-left">
  <div class="content-title">
    <h2><%=link_to 'TASKS', user_tasks_path(@user.displayname)%></h2>
    <%#=link_to 'NEW', new_user_task_path(@user.displayname)%>
  </div>
   <%= render 'tasks/index' %>
  <div class="content-title">
    <h2><%=link_to 'JOURNALS', user_journals_path(@user.displayname)%></h2>
    <%=link_to 'NEW', new_user_journal_path(@user.displayname)%>
  </div>
  <%= render 'journals/index' %>

</div>

<div class="content-right">
<h2>PROJECT INFO:</h2>
<div class="item-list-container">
  <p id="notice"><%= notice %></p>
  <p>
    <b>Parent:</b>
    <%= @project.parent %>
  </p>
  <p>
    <b>Due date:</b>
    <%= @project.due_date %>
  </p>
  <p>
    <b>Budget:</b>
    <%= @project.budget %>
  </p>
</div>
<h2>COMMON KNOWLEDGE:</h2>
<div class="item-list-container">
  <p>
    <%= @project.common_knowledge %>
  </p>
</div>
</div>