<%= form_for(@journal, :url => params[:project_id] ? user_project_journal_path(@user.displayname, params[:project_id], @journal) : user_journal_path(@user.displayname, @journal), :method => :put) do |f| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
      <% @journal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
<table id = "journal-form">
  <tbody>
    <!--
    <tr>
     <td>
       <h3>MEETING</H3>
     </td>
     <td>
       <%#= f.check_box :meeting %>
     </td>
    </tr>
     -->
    <tr>
      <td class="title-column">
        <h3>TITLE</H3>
      </td>
      <td class="input-column">
        <%= f.text_field :title %>
      </td>
      <td class="spacer-column"></td>
      <td class="title-column">
        <h3>DATE</H3>
      </td>
      <td class="date-column">
        <%= f.text_field :event_date, :class => "datepicker" %>
      </td>
    </tr>
    <tr>
      <td class="title-column">
        <h3>PROJECT</H3>
      </td>
      <td class="input-column">
        <% if params[:project_id] %>  
        <%= f.label @project_title %>
        <%= f.hidden_field :project_id, :value => params[:project_id] %>
        <% else %>
        <%= select("journal", "project_id", @projects.collect {|p| [ p.title, p.id ] }, {:include_blank => false})%>
        <% end %>
      </td>
      <td class="spacer-column"></td>
      <td class="title-column">
        <h3>BEGIN TIME</H3>
      </td>
      <td class="date-column">
        <%= f.time_select :begin_time %>
      </td>
    <tr>
      <td class="title-column">
        <h3>ATTENDEES</H3>
      </td>
      <td class="input-column">
        <%= f.text_field :attendees %>
      </td>
      <td class="spacer-column"></td>
      <td class="title-column">
        <h3>END TIME</H3>
      </td>
      <td class="date-column">
        <%= f.time_select :end_time %>
      </td>
    </tr>
  </tbody>
</table>
<br />
  <div class="field">
    <h3>NOTES</H3>
      <br />
    <%= f.cktext_area :body, :class => "editor", :ckeditor => {:toolbar => "Mini"} %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
  <br />
<% end %>
