<div class="item-list-container">
  <table class="item-list-table">
      <tr class="item-list-line-item data-row">
        <th>MEETING</th>
        <% if params[:project_id] %>
        <% else %>
        <th>PROJECT</th>
        <% end %>
        <th>TITLE</th>
        <th>NOTES</th>
        <th>DATE</th>
        <th>BEGIN</th>
        <th>END</th>
        <th>ATTENDEES</th>
        <th>EDIT</th>
        <th>DESTROY</th>
      </tr>
        <tr class="spacer-row">
          <th></th>
          <th></th>
          <% if params[:project_id] %>
          <% else %>
          <th></th>
          <% end %>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
    <% @journals.each do |journal| %>
        <tr class="spacer-row">
          <th></th>
          <th></th>
          <% if params[:project_id] %>
          <% else %>
          <th></th>
          <% end %>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="item-list-line-item data-row">
          <td><%= journal.meeting %></td>
          <% if params[:project_id] %>
          <% else %>
          <td><%= @user.projects.find(journal.project_id).title %></td>
          <% end %>
          <td><%= link_to journal.title, user_journal_path(@user.displayname, journal) %></td>
          <td><%= journal.body %></td>
          <td><%= journal.event_date %></td>
          <td><%= journal.begin_time %></td>
          <td><%= journal.end_time %></td>
          <td><%= journal.attendees %></td>
          <td><%= link_to 'Edit', edit_user_journal_path(@user.displayname, journal) %></td>
          <td><%= link_to 'Destroy', user_journal_path(@user.displayname, journal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
  <% end %>
  </table>
</div>
