<!DOCTYPE html>
<html>
<head>
  <title>Sodes</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="upper-wrap">
		<div id="top-banner" class="banner">
			<div class="banner-inner">
				<ul class="banner-nav">
					<li class="sodes-title">SODES</li>
					<li class="hasmore nav-block"><p class="banner-text">Projects:</p>
						<ul class="dropdown">
							<li class="banner-text"><%= link_to "All", user_projects_path(@user.displayname) %></li>
							<li class="banner-text"><%= link_to "New", new_user_project_path(@user.displayname) %></li>
						</ul>
					</li>
					<li class="nav-block"><p class="banner-text"><%= link_to "Tasks:", user_tasks_path(@user.displayname) %></p></li>
					<li class="hasmore nav-block"><p class="banner-text">Journals:</p>
						<ul class="dropdown">
							<li class="banner-text"><%= link_to "All", user_journals_path(@user.displayname) %></li>
							<li class="banner-text"><%= link_to "New", new_user_journal_path(@user.displayname) %></li>
						</ul>
					</li>
				</ul>
				<ul class="banner-nav right-align">
					<li class="nav-block"><p class="banner-text"><%= link_to @user.displayname.upcase, user_path(@user.displayname) %></p></li>
					<li class="nav-block"><p class="banner-text"><%= link_to 'Settings', edit_user_path(@user) %></p></li>
					<li class="nav-block"><p class="banner-text"><%= link_to '(Admin) User Index', users_path %></p></li>
				</ul>
			</div>
		</div>
		<div class="content-shell">
			<div class="content-int">	
			<%= yield %>
			</div>
		</div>
	</div>
	<div class="banner" id="bottom-banner">
		<div class="banner-inner">
			<p class="right-align">© Caleb Osborne 2013. Reproduction strictly prohibited.</p>
		</div>
	</div>
</body>
</html>
