<!DOCTYPE html>
<html>
<head>
  <title>Sodes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="top-banner" class="banner">
		<div class="banner-inner">
			<p class="sodes-title">SODES</p>
			<div class="banner-object">
				<div class="banner-object-parent">
					<p class="banner-text">Projects:</p>
				</div>
				<div class="banner-object-child">
					<p class="banner-text"><%= link_to "All", user_projects_path(@user.displayname) %></p<p class="banner-text"><%= link_to "New", new_user_project_path(@user.displayname) %></p>
				</div>
			</div>
			<div class="banner-object">
				<div class="banner-object-parent">
					<p class="banner-text">Tasks:</p>
				</div>
				<div class="banner-object-child">
					<p class="banner-text"><%= link_to "All", user_tasks_path(@user.displayname) %></p><p class="banner-text"><%= link_to "New", new_user_task_path(@user.displayname) %></p>
				</div>
			</div>
			<div class="banner-object">
				<div class="banner-object-parent">
					<p class="banner-text">Journals:</p>
				</div>
				<div class="banner-object-child">
					<p class="banner-text"><%= link_to "All", user_journals_path(@user.displayname) %></p><p class="banner-text"><%= link_to "New", new_user_journal_path(@user.displayname) %></p>
				</div>
			</div>
			<div class="banner-object">
				<div class="banner-object-parent">
					<p class="banner-text">Meetings:</p>
				</div>
				<div class="banner-object-child">
					<p class="banner-text"><%= link_to "All", user_journals_path(@user.displayname) %></p><p class="banner-text"><%= link_to "New", new_user_journal_path(@user.displayname) %></p>
				</div>
			</div>
			<p class="banner-link right-align"><%= link_to @user.displayname.upcase, user_path(@user.displayname) %></p>
			<p class="banner-link right-align"><%= link_to 'Settings', edit_user_path(@user) %></p>
			<p class="banner-link right-align"><%= link_to '(Admin) User Index', users_path %></p>
		</div>
	</div>
	<div class="content-shell">
		<div class="content-int">	
		<%= yield %>
		</div>
	</div>
</body>
</html>
